body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

.main-container h2 {
    color: blueviolet;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form textarea {
    border: 2px solid lightblue;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    resize: vertical;
    min-height: 150px;
}

.btn-container {
    display: block;
    justify-content: flex-end;
    align-items: end;
    font-size: small;
}

.btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-container a {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-left: 10px;
}